{% extends "registration/base.html" %}
{% load static %}
{% load crispy_forms_tags %}


{% block body_block %}
  <div class="container">

    <div class="jumbotron2" id="jumbotron2">



      {% if registered or user.is_authenticated %}

      <div class="form2_0" id="form1">

        <h1>Thank you for registering {{ user.username }}!</h1>
        <h2>Would you like to register another Team Member for {{ user.name_of_the_startup }} ?</h2>

        <li class ="registerTM"><a href="{% url 'registration:registerTeamMember' startupID %}">Add Team Member</a>
          <img src="{% static 'img/addTeamMember.png' %}" class="img" alt="home">
        </li>
        <br>
        </div>
      {% else %}



        <form class="form1" id="form1" enctype="multipart/form-data" method="POST">
          <h3>Register your Startup Here!</h3>
          <h3>Just fill out the form.</h3>
          {% csrf_token %}



    <div class="form-row">
  <div class="form-group col-md-6 mb-0">
        {{ startup_form.name_of_the_startup|as_crispy_field }}
    </div>

    </div>

        <div class="form-row">
      <div class="form-group col-md-6 mb-0">
            {{ startup_form.portfolio_link_of_the_Startup|as_crispy_field }}
        </div>
        <div class="form-group col-md-6 mb-0">
              {{ startup_form.profile_logo|as_crispy_field }}
          </div>

        </div>


          <div class="form-row">
  <div class="form-group col-md-6 mb-0">
    {{ user_form.username|as_crispy_field }}
  </div>

</div>
<div class="form-row">
<div class="form-group col-md-6 mb-0">
{{ user_form.password|as_crispy_field }}
</div>
</div>
<div class="form-row">
<div class="form-group col-md-6 mb-0">
{{ user_form.first_name|as_crispy_field }}
</div>
<div class="form-group col-md-6 mb-0">
{{ user_form.last_name|as_crispy_field }}
</div>
</div>
<div class="form-row">
<div class="form-group col-md-6 mb-0">
{{ user_form.email|as_crispy_field }}
</div>

</div>
<div class="form-row">
<div class="form-group col-md-6 mb-0">
{{ user_form.portfolio_link|as_crispy_field }}
</div>
<div class="form-group col-md-6 mb-0">
{{ user_form.profile_pic|as_crispy_field }}
</div>

</div>
<div class="form-row">
<div class="form-group col-md-6 mb-0">
{{ user_form.university|as_crispy_field }}
</div>


</div>







          <button type="submit" class="btn btn-primary">Sign in</button>

        </form>


      {% endif %}




    </div>

  </div>

{% endblock %}
